<h1>Attribute Directives</h1>
<h2>ngClass/ ngStyle</h2>
First way
<div [class.border]="true"></div>
Second way
<div [ngClass]="{border:true,background:true}"></div>

<hr>
<h2>Custom attribute directives</h2>
<div [highlight]="'blue'" [defaultColor]="'red'">Some text</div>

<hr>
<h2>Structural directives</h2>
<h2>*ngIf</h2>
<div *ngIf="switch">Some text</div>
<button (click)="onSwitch()">Switch</button>

<hr>
<h2>*ngFor</h2>
<ul>
  <li *ngFor="let item of items;let i = index">{{item}} - (Index {{i}})</li>
</ul>
