<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name">
    <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
      Name is required (minimum 5 characters).</small>
  </div>
  <div formGroupName="address">
    <label>Address</label>
    <input type="text" formControlName="street">
    <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
      street required
    </small>
  </div>
  <div formGroupName="address">
    <label>Postcode</label>
    <input type="text" formControlName="postcode">
  </div>
  <button type="submit">Submit</button>
</form>
<div *ngFor="let event of events">
  <pre>{{ event | json }}</pre>
</div>
